@model INNBAHI.ViewModels.ProductDetails

@{
    ViewBag.Title = "Apostadero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apostadero desarmable</h1>
<span class="image main"><img src="~/content/images/apostadero0.jpg" alt="" /></span>


<p>De cazador a cazadores!!!!!</p>

<p>
    Es ampliamente conocido por los cazadores que practican el acecho que apostarse en altura permite ver la pieza a más distancia y disminuye el riesgo de ser olfateado.<br />
    Algunas veces disponemos de una planta, pero ésta tiene que estar en la dirección correcta respecto del viento y la luna, y a una distancia adecuada.
</p>

<p>Para independizarnos de ésto desarrollé un apostadero desarmable, fácil de armar y transportar, muy firme, y que se puede ubicar donde sea más conveniente.</p>

<p>Desarrollé mi primer mangrullo hace 25 años y empecé a cobrar muchas mas piezas. Luego de sucesivas mejoras puedo presentar este diseño que reúne firmeza, sencillez y bajo peso.</p>


<h2>Principales características</h2>
<ul>
    <li>Muy firme
    <li>Se arma y desarma en menos de 15 minutos</li>
    <li>No lleva tornillos ni necesita herramientas</li>
    <li>Liviano: utiliza el material justo para darle solidez sin incrementar inútilmente el peso</li>
    <li>Permite apostarse a dos cazadores</li>
    <li>Se puede transportar en cualquier camioneta, incluso doble cabina, o en el portaequipaje de un automóvil</li>
    <li>No utiliza carpa para permitir mirar y disparar en cualquier dirección</li>
</ul>

<p>
    En altura, y conservando una distancia razonable con los lugares de entrada, el jabalí desconfía mucho menos. Siempre es más importante evitar ruidos y movimientos que estar a la sombra.
</p>

<p>Lo ideal es apostarse a unos 60/80 metros de la bebida o cebadero y preferiblemente con un caldén a sus espaldas.</p>

<p>A todos nos ha pasado de esperar una presa en cierta dirección y que termine entrando por otro lado, por lo que prefiero no usar carpa de manera que  con solo girar la silla tengo tiro en cualquier dirección. Sin embargo, como he recibido consultas de varios cazadores, estoy entregando en forma opcional los caños y la soga que forman la baranda o unos soportes en forma de arco, sobre los cuales se puede hacer una carpa completa con ventanas o solamente el techo y la parte trasera, a gusto de cada cazador.</p>

<p>El apostadero desarmable se fabrica en tamaño estándar de 3 metros de altura con patas de una sola pieza.<br />
También proveemos sillas giratorias con apoyo incorporado.</p>

<p>
    <img src="~/content/images/apostadero1.jpg" />
    <img src="~/content/images/apostadero2.jpg" />
    <img src="~/content/images/apostadero3.jpg" />
    <img src="~/content/images/apostadero4.jpg" />
    <img src="~/content/images/apostadero5.jpg" />
</p>

<p>Transportándolo armado a otra ubicación.</p>

<p>
    <img src="~/content/images/apostadero6.jpg" />
</p>

<p>Silla giratoria con apoyo incorporado.</p>

