@model INNBAHI.ViewModels.ProductDetails

@{
    ViewBag.Title = "ElevadorPiscinas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Escalón elevador para piscinas</h1>
@*<span class="image main"><img src="~/content/images/elevador0.jpg" alt="" /></span>*@

<p>Para las personas que tienen algún problema de movilidad en sus piernas pero desean continuar disfrutando de la piscina y el saludable ejercicio que esta proporciona.</p>

<p>Fue diseñado especialmente para solucionar el problema de una persona en particular, y como existen multitud de casos similares, se pone a disposición de quienes lo necesiten.</p>

<p>
    Incorpora a cualquier escalera de piscina una plataforma móvil para que la persona con dificultades de movilidad pueda ingresar y salir de la piscina sin riesgos y con un mínimo esfuerzo para quien que le ayuda.<br />
    Incluso, para el caso de personas con adecuado dominio y fortaleza del tren superior, pueden izarse por sí mismos sin dificultad.
</p>

<p>Realizado integramente en acero inoxidable Lo podemos aplicar sobre la escalera existente o construírlo sobre una nueva.</p>

<p class="images">
    <img src="~/content/images/elevador1.jpg" />
    <img src="~/content/images/elevador2.jpg" />
    <img src="~/content/images/elevador3.jpg" />
</p>