@model INNBAHI.ViewModels.ProductDetails

@{
    ViewBag.Title = "MovilizadorPacientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movilizador de pacientes MU-K-MA</h1>
<span class="image main"><img src="~/content/images/pic13.jpg" alt="" /></span>

<h2>¿Qué es MU-K-MA?</h2>

<p>MU-K-MA Es una innovación destinada a facilitar la atención de pacientes con capacidades motoras disminuídas.</p>

<p>MU-K-MA permite movilizar al paciente con total suavidad y evitándole el dolor que se produce por tironeos o movimientos bruscos.<br />
Desde el punto de vista del familiar o personal de enfermería que lo atiende, le posibilita pasarlo de la cama a una silla de ruedas o viceversa sin ningún esfuerzo.</p>

<p>Esto se logra por medio de un arnés especialmente diseñado que sujeta al paciente de piernas, cintura, espalda y hombros a una percha (sistema patentado), que a través de un cable de acero y un reductor, permiten elevarlo y bajarlo con solo girar una manivela, y esto con tan poca fuerza como para que cualquier persona, aún siendo de contextura delgada o edad avanzada, pueda realizarlo sin ninguna dificultad.</p>


<h2>¿Cuales son sus aplicaciones?</h2>

<p>MU-K-MA no solo esta pensado para trasladar pacientes con facilidad, también permite cambiar ropa de cama, mantenerlo suspendido para ventilación (para el tratamiento o prevención de escaras), higienizar y/o cambiar pañales, etc.</p>

<p>Y, dada la longitud del cable, MU-K-MA permite levantar al paciente desde el piso en el caso de un desmayo o caída. Esto en condiciones normales requiere de varias personas, pero a través del uso de MU-K-MA lo puede realizar una sola y sin esfuerzo.</p>

<p>Incluso se puede usar para transportar al paciente a otra habitación, o al baño, según la geometría de éste. Por su reducido ancho, MU-K-MA puede pasar por cualquier puerta y sus cuatro ruedas giratorias le confieren gran capacidad de maniobra.</p>

<p>MU-K-MA es también util para pacientes que deban afrontar un proceso postoperatorio y tengan su movilidad transitoriamente reducida.</p>

Esta flexibilidad de uso le confiere características especiales que lo convierten en una solución inigualable tanto para instituciones geriátricas, hospitales, clínicas y también casas de familia.</p>


<h2>¿A quién facilita su tarea?</h2>

<p>MU-K-MA esta diseñado especialmente pensando en las necesidades de las personas que diariamente deben atender a pacientes con movilidad reducida.</p>

<ul>
    <li>El personal de enfermería, evitándole que varias veces al día esté haciendo fuerza para movilizar pacientes en una posición desaconsejada, evitando así la posibilidad de lesiones y dolores de espalda.</li>
    <li>Los familiares de enfermos que deban atenderlos en sus casas, en muchos casos personas de avanzada edad.</li>
</ul>

<h2>Preguntas frecuentes</h2>

<p><b>¿Hasta qué peso de pacientes se puede usar MU-K-MA?</b></p>

<p>El Modelo BJ01 puede ser usado con pacientes de una obesidad moderada sin riesgo. Su uso se recomienda para personas de hasta 140/150 kg, aunque en los ensayos de resistencia su rotura se produjo por encima de los 330 kg.</p>

<p>
    En caso de pacientes con mayor peso, sobre pedido se puede proveer el Modelo BJ02, y también modelos aéreos, fijos en la pared.<br />
    Están en preparación un modelo especial para pacientes de obesidad extrema y versiones especiales para utilizar en centros de baños termales.
</p>

<p><b>¿Puedo transportar MU-K-MA en un auto?</b></p>

<p>MU-K-MA puede trasladarse en un auto con solo sacar tres tornillos y plegarse, lo que permite llevarla consigo para hacer un viaje o para irse de vacaciones.</p>

<p><b>¿Si necesito una adaptación especial, me la pueden hacer?</b></p>

<p>
    En caso de que un paciente necesite una adaptación especial la misma podrá ser realizada previa consulta con el profesional de la salud que lo atiende y el rediseño necesario.<br />
    Las modificaciones consideradas menores se realizarán sin cargo adicional a criterio del fabricante. Los rediseños importantes se presupuestarán previamente a la realización del trabajo.
</p>

<p><b>¿Es caro?</b></p>

<p>Para una casa de familia en la que se debe afrontar la atención de un paciente por parte de sus propios familiares, que en general no cuentan con la preparación de un enfermero, y en muchos casos tienen una edad avanzada o poca fuerza, MU-K-MA representa la posibilidad de atender a ese paciente sin esfuerzos y molestias. El ahorro en servicios de enfermería, y el bienestar para el paciente compensan sobradamente el costo de MU-K-MA.</p>

<p>Y para el caso de instituciones hospitalarias y geriátricas, MU-K-MA permite un ahorro en personal a partir de dos aspectos principales: le permite a una sola persona realizar tareas para las cuales normalmente se necesitan dos o más, y por el otro lado, y tal vez el más importante, se evitan esfuerzos al personal de enfermería que a la larga traen como consecuencia dolencias de columna, licencias, remplazos, etc. Por lo que la inversión se recupera muy rapidamente.</p>

<h2>MU-K-MA para instituciones</h2>

<p>MU-K-MA es ideal para toda institución donde se trate a pacientes con movilidad reducida.</p>

<ul>
    <li>Porque permite ofrecerle al paciente una movilización absolutamente suave, sin tironeos, asegurándole confort y evitando lesiones.</li>
    <li>Porque le permite al personal de enfermería trabajar sin forzar permanentemente la espalda, aún con pacientes obesos, evitándole así problemas de columna.</li>
    <li>Porque permite evitar licencias y sus consiguientes remplazos o la sobrecarga de las propias compañeras.</li>
    <li>Porque permite ahorrar personal, ya que una sola persona puede, sin esfuerzo cambiar pañales, sábanas, mantener levantado al paciente para ventilar espalda, llevarlo al baño y hasta levantarlo del piso sin ayuda ante una caída o desmayo. Y todo esto independientemente del sobrepeso que pueda tener el paciente.</li>
    <li>Porque la simplicidad lograda en su construcción, al igual que la seguridad de su funcionamiento, y la garantía de fabricación aseguran largo tiempo de uso sin ningún tipo de problemas, con unos costos de amortización verdaderamente bajos.</li>
    <li>Porque contribuye a la buena imagen que se puede presentar de nuestros servicios al familiar del paciente a internar.</li>
    <li>Porque su costo, analizado comparativamente al ahorro en problemas de salud y licencias y remplazos en el personal de enfermería, es muybajo.</li>
</ul>

<p>Estas y otras razones son lo suficientemente importantes como para ser una institución más utilizando esta innovación argentina.</p>

<h2>Garantía, servicio técnico y mantenimiento</h2>

<p>MU-K-MA tiene garantía por un año contra defectos de fabricación, y además, si durante ese período se realiza alguna mejora al mismo modelo, esa mejora será incorporada sin cargo.</p>

<p>La gran simplicidad que lograda en su construcción, unida a sus detalles constructivos, hace que su funcionamiento sea muy seguro y prácticamente libre de mantenimiento.</p>


<h2>Detalles constructivos</h2>

<p>El cable es de acero inoxidable, con una resistencia nominal superior a los 600 kg, y en su vinculación con el gancho, tiene colocado un guardacabo también de acero inoxidable alrededor del cual el cable es "desarmado" y armado sobre sí mismo a los efectos de conformar un lazo con la misma resistencia del cable, con una técnica similar a la usada para armar las eslingas que se destinan a izar cargas.</p>

<p>Las poleas montadas sobre rodamientos garantizan una vida util muy superior a las comunes de pistas de fundición con palillos.</p>

<p>Las cuatro ruedas giratorias, montadas sobre bolilleros, permiten que el aparato se mueva libremente para ubicarse sobre el centro de gravedad del paciente, garantizando así la estabilidad.</p>

<p>A través de pruebas y rediseños se han eliminado todas las piezas prescindibles. Esto, junto con el cable ubicado en el interior del brazo y los caños cerrados con regatones fijos, permite simplificar la limpieza y/o esterilización, condición importantísima para toda institución hospitalaria o similar.</p>

<p>La alta relación del reductor le confiere un accionamiento con mínimo esfuerzo, y por el hecho de ser irreversible, la seguridad de que el paciente queda suspendido en el punto donde se suelte la manivela, por lo que no necesita ningún crique o seguro.</p>

<h2>Manual de uso</h2>

<p><b>Una vez desembalado</b></p>

<ul>
    <li>Colocar las dos tiretas y fijarlas con el tornillo del parante</li>
    <li>Levantar el brazo horizontal de manera que permita colocar el caño telescópico liso dentro del perforado y colocar el pasador en el agujero del medio</li>
    <li>Colocar la manija en el eje roscado del reductor. Una vez bien ajustada la misma, asegurarla con el prisionero</li>
</ul>

<p>Para bajar el gancho que pende del cable de acero inoxidable, tomarlo con la mano derecha y con la izquierda girar la manija en sentido contrario a las agujas del reloj. Una vez logrado el largo necesario, enganchar la percha en el agujero del extremo superior.</p>

<p>Siempre que se baje o afloje el cable sin la percha, tirar con la mano derecha del mismo y con la izquierda girar la manija para evitar que se afloje en la polea o fuera de ella.</p>

<p><b>Colocación de los arneses</b></p>

<p>Para cambio de pañal, colocar solamente los arneses de las piernas y el de la cintura (son los mas anchos), y ajustar a la medida adecuada al paciente.</p>

<p>Para levantar al paciente además de las piernas y cintura colocar los de espalda y hombros graduándolos de manera que queden sobre las partes tomadas, en lo posible semiajustados.</p>

<p>En las piernas: enganchar primero el de la parte interna y luego el de la parte externa de cada pierna y para comodidad sujetar con la cinta con velcro. Siempre tratar de ubicarlos cerca de la ingle. Van en los ganchos inferiores.</p>

<p>Luego colocar el de la cintura, que va en los ganchos que siguen.</p>

<p>Por último, colocar el de la espalda y breteles. Se gradúan a la medida adecuada.</p>

<p><b>Para levantar al paciente</b></p>

<p>Se desliza la parte inferior de MU-K-MA por debajo de la cama de manera que el gancho quede pendiendo sobre el pecho del paciente, y se pasa el gancho por el agujero del extremo de la percha. Girando la manija en sentido horario, se comienza la elevación. La percha se va separando del pecho del paciente, primero lo pasa a posición sentado y finalmente lo eleva.
<p>Una vez suspendido, se lo retira de la cama y se lo ubica en la silla de ruedas, camilla, etc.</p>

<p>Enganchando la percha del agujero central, permite levantarlo en forma mas o menos horizontal, para un cambio de sábanas, por ejemplo, o aireación de la piel.</p>

<h2>Video promocional</h2>


<p>Haga click para abrir el video en otra ventana.</p>

<p>Si no puede ver el video haga click <a href="http://www.innbahi.com/mkm/mu-k-ma/img/mu-k-ma.mpg">aquí</a> para descargarlo y verlo en su computadora. (2,8 MB)</p>

<p>Para ver el video es necesario tener instalado <a href="http://www.apple.com/quicktime/download/">Quicktime</a>.</p>