@model INNBAHI.ViewModels.ProductDetails

@{
    ViewBag.Title = "Otros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h1>Otros desarrollos</h1>*@
@*<span class="image main"><img src="~/content/images/otros.jpg" alt="" /></span>*@

<h1>Camilla elevadora</h1>

<p>Desarrollada para permitir que pacientes que desarrollan actividades en colchonetas o en el suelo puedan ser llevados a sus camas sin que el personal de enfermería deba izarlos manualmente o se movilicen por su propio esfuerzo.</p>

<p>Consta de una base con ruedas y una camilla que, a través de un mecanismo de brazos oscilantes, asciende desde el nivel del suelo a la altura de las camas.</p>

<p class="images">
    <img src="~/content/images/camilla1.jpg" />
    <img src="~/content/images/camilla2.jpg" />
</p>

<h1>Elongador</h1>

<p>
    Para quienes trabajan largas horas en oficinas o frente a la computadora, los músculos en tensión, o falta de movimientos ocasionan rigidez y un cansancio adicional.<br />
    Ejercitarse unos breves momentos con el elongador permite recuperar la flexibilidad y la relajación que nos devuelvan la comodidad en la tarea.
</p>

<p>
    Consta de una base y un barral vertical por el que desliza un carro con dos mancuernas acolchadas, que con una simple tecla se fija a la altura adecuada al ejercicio a realizar.<br />
    Permite así estirar piernas, brazos, columna vertebral en diversas posiciones, logrando elongación y flexibilidad para continuar las tareas relajados.
</p>

<p class="images">
    <img src="~/content/images/elongador1.jpg" />
    <img src="~/content/images/elongador2.jpg" />
</p>

<h1>Andador con elevador</h1>

<p>
    Desarrollado especialmente para un paciente que necesitaba ejercitarse para recuperar la fuerza y el uso normal de sus piernas.<br />
    Totalmente fabricado en acero inoxidable, es regulable en altura y el paciente es soportado por una faja que lo toma de cintura y muslos, vinculado con cuatro correas regulables al marco superior.
</p>

<p class="images">
    <img src="~/content/images/andador1.jpg" />
    <img src="~/content/images/andador2.jpg" />
</p>

<h1>Medidas Especiales</h1>

<h2>Sillón de oficina</h2>
<p>
    <img src="~/content/images/sillagiratoria.jpg" />
</p>

<h2>Silla de playa</h2>

<p>Integramente en acero inoxidable.</p>

<p class="images">
    <img src="~/content/images/reposera1.jpg" />
    <img src="~/content/images/reposera2.jpg" />
</p>

