@model INNBAHI.ViewModels.ProductDetails

@{
    ViewBag.Title = "ReductorOxigeno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reductor de oxígeno para laboratorios de microbiología</h1>
<h2>Para reemplazar las velas dentro de los frascos de cultivo.</h2>
@*<span class="image main"><img src="~/content/images/quemador0.jpg" alt="" /></span>*@
<p>El uso de velas para consumir el oxígeno en el interior de las jarras de cultivo conlleva el riesgo de dañar las placas de Petri o el vidrio del frasco con la llama.</p>
<p>Nuestro dispositivo produce el mismo efecto de reducción de oxígeno pero con la llama confinada en su interior, y la inercia térmica de sus materiales hace que no alcance temperaturas altas como para provocar daños en el frasco o las placas ni quemaduras al microbiólogo.</p>
<p>Además, el aire caliente sale por la parte superior provocando un efecto termosifón que activa la circulación del aire y logra un consumo más completo del oxígeno dentro del frasco o jarra de cultivo.</p>
<p>Para su uso se extrae el quemador, se humedece la mecha con unas gotas de alcohol, se vuelve a colocar en el reductor, se enciende y se introduce en el frasco de cultivo en la posición más baja posible, de manera similar a lo que se realizaba antes con la vela.</p>
<p>Se proveen con 2 mechas de repuesto y un lazo de tanza para facilitar el enhebrado de las mismas en el quemador.</p>
<p class="images">
    <img src="~/content/images/reductor1.jpg" />
    <img src="~/content/images/reductor2.jpg" />
    <img src="~/content/images/reductor3.jpg" />
    <img src="~/content/images/reductor4.jpg" />
    <img src="~/content/images/reductor5.jpg" />
    <img src="~/content/images/reductor6.jpg" />
    <img src="~/content/images/reductor7.jpg" />
</p>
<p>Modelo registrado propiedad de INNBAHI. (Patente en trámite)</p>
