@model INNBAHI.ViewModels.ProductDetails

@{
    ViewBag.Title = "SillonExtracciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sillón para extracciones de sangre</h1>
<span class="image main"><img src="~/content/images/sillon0.jpg" alt="" /></span>
<p>
    Características:
    <ul>
        <li>Asiento regulable en altura</li>
        <li>Dos posiciones de reclinación: una para extracciones y otra para el caso de que un paciente sufra una indisposición, con el respaldo reclinado y un soporte para elevar las piernas</li>
        <li>Apoyabrazos bilaterales, totalmente regulables en altura. Incluyen una bandeja para apoyar tubos, jeringas, o material de laboratorio, cuya posición se puede modificar libremente</li>
        <li>La base del apoyabrazos sale desde debajo del asiento, se puede regular hacia atrás y adelante, donde se abre lateralmente para pacientes obesos o mamás con bebés en brazos</li>
        <li>Base de cinco patas sobre regatones para una máxima estabilidad</li>
    </ul>
</p>
<p>Diseñado a medida de las necesidades de uno de los laboratorios más importantes de la Argentina.</p>
<p>Se fabrican sobre pedido.</p>
<p>
    <img src="~/content/images/sillon1.jpg" />
    <img src="~/content/images/sillon2.jpg" />
    <img src="~/content/images/sillon3.jpg" />
</p>