@model INNBAHI.ViewModels.ProductDetails

@{
    ViewBag.Title = "Soportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Soportes para Notebook y Monitor</h1>
@*<span class="image main"><img src="~/content/images/soporte0.jpg" alt="" /></span>*@
<p>Diseñados por4 pedido de un kinesiólogo ante las numerosas consultas de pacientes con dolores de espalda, cuello y cervicales con un diagnóstico común: la mala postura por tiempos prolongados frente a una PC o notebook ubicadas demasiado bajas.</p>
<p>Según estudios de ergonomía la posición correcta de trabajo es la que permite que, sentados en posición erguida, la horizontal de nuestros ojos pase entre la mitad y el tercio superior de la pantalla. Esto no sucede cuando se apoyan directamente el monitor o la notebook sobre el escritorio y al poco tiempo de trabajar inclinados o con el cuello torcido aparecen los dolores.</p>
<p>Nuestros soportes llevan la notebook o monitor a una altura conveniente para trabajar en la posición correcta.</p>
<p>El soporte para notebook está diseñado para ser usado con un teclado y mouse externos, permitiendo además alejar la pantalla para reducir el agotamiento visual.</p>
<p>
    Ventajas adicionales
    <ul>
        <li>Libera espacio debajo de la notebook o el monitor permitiéndo aprovechar mejor el escritorio.</li>
        <li>El espacio abierto debajo de la notebook favorece la refrigeración y evita el sobrecalentamiento de la misma.</li>
    </ul>
<p>
    Soportes para monitor SM1 SM2. Disponible en dos alturas: 11cm (SM1) y 14cm (SM2).
    <br />Soportes para notebook SN1 SN2. Disponible en dos alturas: 21cm (SN1) y 24cm (SN2)
</p>

<p>
    <img src="~/content/images/soporte1.jpg" />
    <img src="~/content/images/soporte2.jpg" />
    <img src="~/content/images/soporte3.jpg" />
    <img src="~/content/images/soporte4.jpg" />
</p>
<p>Ambos modelos registrados son propiedad de INNBAHI. (patente e.t.)</p>
